/* Глобальні налаштування для типографіки та кольорів */
:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #222F42;
    --success: #31D0AA;
    --text-color: #434455;
    /* Оновлений колір тексту */
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light-background: #F4F4FD;
    --modal-overlay: #222F42;
    --hero-background: #E2E4E7;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;

    /* Шрифти */
    --font-family: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Шрифтові розміри */
    --font-size-base: 16px;
    --font-size-h1: 56px;
    --font-size-h2: 36px;
    --font-size-h3: 20px;
    --font-size-small: 12px;
    --font-size-medium: 16px;

    /* Лінійна висота */
    --line-height-base: 24px;
    --line-height-h1: 60px;
    --letter-spacing-base: 0.02em;
    --letter-spacing-small: 0.04em;
}

/* Тіло документа */
body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
    color: var(--text-color);
    background-color: var(--white-background);
}

/* Заголовки */
h1,
h2,
h3 {
    color: var(--dark);
    font-family: var(--font-family);
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h1);
    letter-spacing: var(--letter-spacing-base);
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-base);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-base);
}

/* Текст */
p,
a {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Малий текст */
.small-text {
    font-size: var(--font-size-small);
    line-height: 14px;
    letter-spacing: var(--letter-spacing-small);
}

/* Середній текст */
.medium-text {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
}

/* Кнопки */
button,
.button-text {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-small);
    text-transform: uppercase;
    background-color: var(--primary-brand);
    color: var(--white-background);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--pressed-state);
}

/* Посилання */
a {
    text-decoration: underline;
}

a:hover {
    color: var(--primary-brand);
}

/* Header Section */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    /* Тінь для елемента */
}

.menu-link {
    position: relative;
    color: #404bbf;
    padding: 24px 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.contact-link {
    font-size: 16px;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus,
.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

/* Hero Section */
.hero-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
}

.hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    background-color: var(--primary-brand);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px auto 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--pressed-state);
}

/* Services Section */
.services {
    padding: 120px 0;
    background-color: var(--light-background);
}

.services-list {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.service-item {
    width: calc((100% - 72px) / 4);
}

.service-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.service-icon svg {
    width: 64px;
    height: 64px;
}

.service-title {
    font-size: 20px;
    margin-bottom: 8px;
    color: var(--dark);
    font-weight: var(--font-weight-medium);
}

.service-description {
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.5;
}

.team-section {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.team-heading {
    margin-bottom: 72px;
    font-size: 36px;
    text-align: center;
}

.team-list {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-info {
    padding: 32px 0;
    text-align: center;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0 0 32px 0;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

.social-link svg {
    fill: #f4f4fd;
}

.team-title {
    font-size: 20px;
    margin-bottom: 8px;
    color: #2e2f42;
}

.team-description {
    font-size: 16px;
    color: #434455;
    text-align: center;
}

/* Portfolio Section */
.portfolio-container {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--light-background);
}

.portfolio-heading {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    text-align: center;
    color: var(--dark);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    background-color: var(--white-background);
    border: 1px solid var(--accent);
    border-top: none;
    display: flex;
    flex-direction: column;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-container {
    position: relative;
    overflow: hidden;
}

.portfolio-description {
    position: absolute;
    top: 0;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-description {
    transform: translateY(0%);
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark);
    font-weight: var(--font-weight-medium);
    margin-bottom: 8px;
}

.portfolio-category {
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.5;
}

/* Footer Section */
.footer-container {
    background-color: #2e2f42;
    padding: 100px 0;
    text-align: center;
}

.footer-container .container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-content {
    display: flex;
    align-items: baseline;
}

.footer-logo-container {
    margin-right: 120px;
}

.logo-link {
    display: inline-block;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-description {
    max-width: 264px;
    margin: 0 auto;
    line-height: 1.5;
    color: var(--light-background);
    letter-spacing: 0.02em;
    font-size: 16px;
}

.footer-socials {
    text-align: left;
}

.socials-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.socials-list {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #31d0aa;
}

.social-link svg {
    fill: #f4f4fd;
}